
/ 选择宠物
- modal "选择宠物", "pet"
= partial :'layouts/partials/modal-portal-select-lg' do
  - portal "选择宠物", "pet"
  = partial 'layouts/widget/portal', :locals => {:listdataKey=> "portalFields", :bordered => "false"} do
    / 不输出按钮

/ 添加宠物
- modal "添加宠物", "pet"
= partial :'layouts/partials/modal-portal-lg' do
  = partial 'views/commons/pet/portal_pet_form'
