.well
  %form.form-horizontal
    .row
      .col-md-2
        .form-control-static
          %label
            %input{:type => "radio", :name => "purchaserType-radio", "ng-value" => "1", "ng-model" => "petportal.purchaserType", "ng-change" => "petportal.purchaser()" }
            会员
          %label
            %input{:type => "radio", :name => "purchaserType-radio", "ng-value" => "2", "ng-model" => "petportal.purchaserType", "ng-change" => "petportal.purchaser()" }
            散客

      .col-md-7
        .form-control{"ng" => {"show" => "petportal.purchaserType == 2"}}
          %label.font-grey-silver 散客

        .form-control{"ng" => {"show" => "!pet.id && petportal.purchaserType == 1"}}
          %label.font-grey-silver 请选择会员...

        .form-control{"ng" => {"show" => "pet.id && petportal.purchaserType == 1"}}
          %label.text-muted 会员编号:

          %b {{ pet.gestCode }},

          %label.text-muted 会员姓名:
          %b {{ pet.gestName }},

          %label.text-muted 会员等级:
          %b {{ pet.gestStyle.levelName }}

      .col-md-3
        .btn-group.btn-group-circle.btn-group-solid
          %button.btn.green{:type => "button", ng: {'click' => 'petportal.pupupselect()', 'disabled': 'petportal.purchaserType == 2'} }
            %i.fa.fa-search
            选择会员
          %button.btn.red{:type => "button", ng: {'click' => 'saleplateportal.cleanup()'} }
            %i.fa.fa-remove