.user.bg-default.bg-light-rtl
  .info
    %a.informer.informer-three{:href => "#"}
      %span 14 / 255
      消息
    %a.informer.informer-four{:href => "#"}
      %span $549.44
      待办
    %img.img-circle.img-thumbnail{:src => "assets/images/example/user/logo.jpg"}/
  .content.list-group.list-group-icons
    %a.list-group-item{:href => "component_messages.html"}
      %span.icon-envelope>
      拓扑
      %i.icon-angle-right.pull-right
    %a.list-group-item{:href => "component_charts.html"}
      %span.icon-bar-chart>
      机房
      %i.icon-angle-right.pull-right
    %a.list-group-item{:href => "sample_profile.html"}
      %span.icon-cogs>
      设置
      %i.icon-angle-right.pull-right
    %a.list-group-item{:href => "sample_login.html"}
      %span.icon-off>
      退出
      %i.icon-angle-right.pull-right
