<style type="text/css">
  body {
    background: #fff;
  }

  canvas {
    display: block;
  }

  .sketch {
    position: absolute;
    /*border: 1px solid red;*/
  }

  #container {
    background-position: center center;
    background-color: #404a59;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 100px;
    margin-right: 100px;
    width: 800px;
    height: 800px;
    background-image: url('assets/images/jian.png');
  }
</style>

<center>
  <div id="container"></div>
</center>


<!--<script src='js/dat.gui.min.js'></script>-->

<script src='assets/javascripts/plugins/stopExecutionOnTimeout.js?t=1'></script>
<script src='assets/javascripts/plugins/sketch.min.js'></script>