- page "Dashboard", "dashboard"

.row
  .col-md-2
    .block.block-drop-shadow
      // 用户信息
      .user.bg-default.bg-light-rtl
        .info
          %a.informer.informer-three{:href => "#"}
            %span 14 / 255
            消息
          %a.informer.informer-four{:href => "#"}
            %span 6
            待办
          %img.img-circle.img-thumbnail{:src => "assets/images/example/user/logo.jpg"}/
      .content.list-group.list-group-icons
        %a.list-group-item{:href => "component_messages.html"}
          %span.icon-envelope>
          拓扑
          %i.icon-angle-right.pull-right
        %a.list-group-item{:href => "component_charts.html"}
          %span.icon-bar-chart>
          机房
          %i.icon-angle-right.pull-right
        %a.list-group-item{:href => "sample_profile.html"}
          %span.icon-cogs>
          设置
          %i.icon-angle-right.pull-right
        %a.list-group-item{:href => "login.html"}
          %span.icon-off>
          退出
          %i.icon-angle-right.pull-right

    .block.block-drop-shadow
      .head.bg-dot20
        %h2 核心设备
        .side.pull-right
          %ul.buttons
            %li
              %a{:href => "#"}
                %span.icon-cogs

        .head-panel.nm
          .hp-info.hp-simple.pull-left.hp-inline{"style": "padding: 5px 0px 5px 0px"}
            .list-status.list-status-offline{"style": "width: 15px; height: 15px;margin-top: -10px"}
            %span.hp-main
              市核心网络设备
              %span.icon-angle-right
              异常

          .hp-info.hp-simple.pull-left.hp-inline{"style": "padding: 5px 0px 5px 0px"}
            %span.hp-main
              县核心网络设备
              %span.icon-angle-right
              正常
            .list-status.list-status-online{"style": "width: 15px; height: 15px;margin-top: -10px"}

    .block.block-drop-shadow
      .head.bg-dot20
        %h2 监控设备统计
        .side.pull-right
          %ul.buttons
            %li
              %a{:href => "#"}
                %span.icon-cogs

        .head-panel.nm.tac
          .sparkline
            %span{:sparkheight => "100", :sparktype => "pie", :sparkwidth => "100"} 5079,3768,7537,3948, 28380
        .head-panel.nm
          .hp-info.hp-simple.pull-left.hp-inline
            %span.hp-main
              %span.icon-circle
              网络设备 [ 5079 ]
          .hp-info.hp-simple.pull-left.hp-inline
            %span.hp-main
              %span.icon-circle.text-info
              主机设备 [ 3768 ]
          .hp-info.hp-simple.pull-left.hp-inline
            %span.hp-main
              %span.icon-circle.text-danger
              安全设备 [ 7537 ]

          .hp-info.hp-simple.pull-left.hp-inline
            %span.hp-main
              %span.icon-circle.text-success
              数据库 [ 3948 ]

          .hp-info.hp-simple.pull-left.hp-inline
            %span.hp-main
              %span.icon-circle.text-warning
              中间件 [ 28380 ]

  .col-md-10
    .row
      .col-md-12
        -# VRV
        .block.block-drop-shadow
          .head.bg-dot30
            %h2 VRV
            .side.pull-right
              %ul.buttons
                %li
                  %a{:href => "#"}
                    %span.icon-refresh
                %li
                  %a{:href => "#"}
                    %span.icon-cogs
            .head-panel
              #dash_chart_2.chart{:style => "height: 150px;"}

          .head.bg-dot30
            .head-panel.nm
              .hp-info.pull-left{"ng-repeat" => "vrv in vrvs"}
                .hp-icon
                  %span{'ng-class' => 'vrv.icon'}
                %span.hp-main {{vrv.data}}
                %span.hp-sm {{vrv.name}}
    .row
      .col-md-6
        .block.block-drop-shadow
          .head.bg-default.bg-light-ltr
            %h2 H3C系统告警
            .side.pull-right
              %ul.buttons
                %li
                  %a{:href => "#"}
                    %span.icon-cogs
            .head-panel.nm
              .left_abs_100{:style => "margin-top: 20px;"}
                .knob
                  %input{"data-fgcolor" => "#FFFFFF", "data-height" => "100", "data-max" => "200", "data-min" => "0", "data-readonly" => "true", "data-width" => "100", :type => "text", :value => "155"}/

              #dash_chart_1.chart{:style => "height: 150px;"}

        .block.block-drop-shadow
          .head.bg-default.bg-light-rtl
            %h2 公告
            .side.pull-right
              %ul.buttons
                %li
                  %a{:href => "#"}
                    %span.icon-plus
                %li
                  %a{:href => "#"}
                    %span.icon-cogs
            .head-panel.nm
              %a.hp-info.pull-left{:href => "#"}
                .hp-icon
                  %span.icon-download-alt
                %span.hp-main 25
                %span.hp-sm 接收
              %a.hp-info.pull-left{:href => "#"}
                .hp-icon
                  %span.icon-upload-alt
                %span.hp-main 10
                %span.hp-sm 发布
              %a.hp-info.hp-one.pull-right.tip{:href => "#", :title => "Refresh"}
                .hp-icon
                  %span.icon-refresh
                %span.hp-main 9:24 上午

          .content.list
            .list-item{"ng-repeat" => "notice in notices"}
              .list-datetime
                .date {{notice.date}}
                .time {{notice.time}}
              -#.list-info
              -#  %img.img-circle.img-thumbnail{:src => "assets/images/example/user/dmitry.jpg"}/
              .list-text
                %label.label.label-success.pull-right{"ng-if" => "notice.enable"} 有效
                %label.label.label-danger.pull-right{"ng-if" => "!notice.enable"} 无效
                %a.list-text-name{:href => "#"}
                  {{notice.type}}
                  %small ({{notice.dept}})

                %p {{notice.text}}

          .footer.tac
            %a{:href => "#"} 查看更多公告...


      .col-md-6

        .block.block-drop-shadow
          .head.bg-default.bg-light-ltr
            %h2 UICS告警
            .side.pull-right
              %ul.buttons
                %li
                  %a{:href => "#"}
                    %span.icon-cogs
            .head-panel.nm
              .left_abs_100{:style => "margin-top: 20px;"}
                .knob
                  %input{"data-fgcolor" => "#FFFFFF", "data-height" => "100", "data-max" => "200", "data-min" => "0", "data-readonly" => "true", "data-width" => "100", :type => "text", :value => "155"}/

              #dash_chart_3.chart{:style => "height: 150px;"}

        .block.block-drop-shadow
          .header
            %h2 待办事项
            .side.pull-right
              %ul.buttons
                %li
                  %a{:href => "#"}
                    %span.icon-user
                %li
                  %a{:href => "#"}
                    %span.icon-cogs
          .content.messages.npr.npb
            .messages-item{"ng-repeat" => "todo in todolists"}
              %div{:style => "margin-bottom: 5px"}
                .messages-item-date.pull-right {{todo.time}}
                %a.widget-icon{:href => "#none"}
                  %span.icon-tasks

                %b {{todo.type}}

              .messages-item-text{"style" => "margin-left: 20px;"} {{todo.title}}


.row
  .page-footer
    .page-footer-wrap
      .side.pull-left
        Copyirght &amp;COPY; YourCompany 2013. All rights reserved.
