%div
  .input-group
    %input.form-control.input-circle-left{:type => "text", :placeholder => "{{searchbar.firstTextPlaceholder}}", "ng":{ 'model':"searchbar.firstValue", "readonly"=>"searchbar.dataType == 'date'" }}/

    .input-group-btn{"ng": {"show"=>"searchbar.dataType == 'date'"}}
      %button.form-control.date-picker-btn.input-noborder-vertical{:tabindex => "-1", :type => "button"}
        %i.fa.fa-calendar

    %input.form-control{:type => "text", :placeholder => "{{searchbar.lastTextPlaceholder}}",  "ng": {"show"=>"searchbar.type == 'between'", "model"=> "searchbar.lastValue", "readonly"=>"searchbar.dataType == 'date'"}, "style"=>"display: table-cell;" }/

    .input-group-btn{"ng": {"show"=>"searchbar.type == 'between' && searchbar.dataType == 'date'"}}
      %button.form-control.date-picker-btn.input-noborder-vertical{:tabindex => "-1", :type => "button"}
        %i.fa.fa-calendar

    .input-group-btn
      %button.btn.green.input-circle-right{"ng-click"=>"submit()"}
        %i.fa.fa-search
