- locals['label'] = ((defined? label) ? label: "查找")

- locals['icon'] = ((defined? icon) ? icon: "fa-search")

- locals['btnType'] = "button"

= partial 'layouts/buttons/btn_pattern', :locals => locals
