- locals['label'] = ((defined? label) ? label: "查找")

- locals['icon'] = ((defined? icon) ? icon: "fa-search")

- locals['btnType'] = "button"

-#info|primary|warning|danger
- locals['theme'] = "btn-info"

= partial 'layouts/buttons/btn_pattern', :locals => locals
