- locals['label'] = ((defined? label) ? label: "删除")

- locals['icon'] = ((defined? icon) ? icon: "fa-trash")

- locals['btnType'] = "button"

- locals['theme'] = "red-sunglo"

- locals['onclick'] = ((defined? onclick) ? onclick: "removes()")

= partial 'layouts/buttons/btn_pattern', :locals => locals

