- locals['label'] = ((defined? label) ? label: "删除")

- locals['icon'] = ((defined? icon) ? icon: "fa-remove")

- locals['btnType'] = "button"

- locals['theme'] = "red-sunglo"

= partial 'layouts/buttons/btn_pattern', :locals => locals

