- locals['label'] = ((defined? label) ? label: "保存表单")

- locals['icon'] = ((defined? icon) ? icon: "fa-save")

- locals['btnType'] = "submit"

- locals['theme'] = "btn-primary"

= partial 'layouts/buttons/btn_pattern', :locals => locals
