- locals['label'] = ((defined? label) ? label: "修改")

- locals['icon'] = ((defined? icon) ? icon: "fa-plus")

- locals['btnType'] = "button"

= partial 'layouts/buttons/btn_pattern', :locals => locals

