-#数据字典, 侧边导航
- content_for :outline_title do
  #{sidename||"类型"}

- content_for :outline_body do
  %div.list-group
    %a.list-group-item{:href => 'javascript:;', "ng" => {"class":"{active: selectedId == datumtype.id}", "repeat":"datumtype in datumtypes", "click": "setDatumType(datumtype.id)"}}
      {{datumtype.#{sidefieldname||"name"}}}
