-#商品服务分类
- content_for :outline_title do
  商品&服务

- content_for :outline_toolbar do
  %a.btn.btn-circle.btn-default.btn-sm{:href => "javascript:;", "ng":{ "click" => "producttype()"}}
    %i.fa.fa-plus
    增加

  %a.btn.btn-circle.red-sunglo.btn-sm{:href => "javascript:;"}
    %i.fa.fa-remove
    删除

- content_for :outline_body do
  %div.list-group
    %label.list-group-item.active{:href => 'javascript:;'}
      宠物药品

    %label.list-group-item{:href => 'javascript:;'}
      宠物食品

    %label.list-group-item{:href => 'javascript:;'}
      化验项目

    %label.list-group-item{:href => 'javascript:;'}
      影像项目
