-#应用参数配置类型, 侧边导航
- content_for :outline_body do
  %div.list-group
    %a.list-group-item{:href => 'javascript:;'}
      挂号设置
      %span.badge.badge-default 3
    %a.list-group-item{:href => 'javascript:;'}
      美容设置
      %span.badge.badge-success 11
    %a.list-group-item{:href => 'javascript:;'}
      寄养设置
      %span.badge.badge-danger new
    %a.list-group-item{:href => 'javascript:;'}
      住院设置
      %span.badge.badge-warning 4
    %a.list-group-item{:href => 'javascript:;'}
      疫苗设置
      %span.badge.badge-warning 4
    %a.list-group-item{:href => 'javascript:;'}
      编号设置
      %span.badge.badge-warning 4
    %a.list-group-item{:href => 'javascript:;'}
      系统设置
      %span.badge.badge-warning 4
