-#化验项目分类
- content_for :outline_title do
  化验项目

- content_for :outline_toolbar do
  %a.btn.btn-circle.btn-default.btn-sm{:href => "javascript:;", "ng":{ "click" => "updatetype()"}}
    %i.fa.fa-plus
    增加

  %a.btn.btn-circle.red-sunglo.btn-sm{:href => "javascript:;"}
    %i.fa.fa-remove
    删除

- content_for :outline_body do
  %div.list-group
    %a.list-group-item{:href => 'javascript:;'}
      血生化
      %span.badge.badge-default 3

    %a.list-group-item{:href => 'javascript:;'}
      粪便
      %span.badge.badge-success 11

    %a.list-group-item{:href => 'javascript:;'}
      血常规
      %span.badge.badge-danger new

    %a.list-group-item{:href => 'javascript:;'}
      尿检
      %span.badge.badge-warning 4
