-#商品&服务明细
%table#sample_editable_1.table.table-striped.table-hover.table-bordered
  %thead
    %tr
      %th
        %input.group-checkable{:type => "checkbox"}/
      %th 操作
      %th
      - ['名称', '原价', '实价', '优惠', '数量', '单位', '小计'].each do |fieldName|
        %th #{fieldName}

  %tbody
    %tr.odd.gradeX{ "ng-repeat" => @page_id + " in " +@page_id+ "s" }
      %td
        %input.checkboxes{:type => "checkbox", 'ng': {'model': 'selection[' +@page_id+ '.id]', 'change': 'selectChange()'} }/
      %td
      - ['名称', '原价', '实价', '优惠', '数量', '单位', '小计'].each do |fieldName|
        %td
          = bind @page_id, (@fields[fieldName] || 'error')
