-#商品服务分类
= partial 'views/commons/nav_product_type'

.row
  .col-md-2
    = yield_content :outline_body

  .col-md-10
    .portlet
      .portlet-title
        .caption

        .actions
          .portlet-input.input-inline
            .input-icon.right
              %i.icon-magnifier
              %input.form-control.input-circle{:type=>"text", :size =>'60' ,:placeholder=>"search..."}

      .portlet-body.portlet-empty
        %table.table.table-striped.table-hover.table-bordered
          %thead
            %tr
              %th
                %input.group-checkable{:type => "checkbox"}/
              %th 操作
              %th
              - ['条码', '名称', '规格', '生产商', '单位', '当前库存', '售价'].each do |fieldName|
                %th #{fieldName}

          %tbody
            %tr.odd.gradeX{ "ng-repeat" => @page_id + " in " +@page_id+ "s" }
              %td
                %input.checkboxes{:type => "checkbox", 'ng': {'model': 'selection[' +@page_id+ '.id]', 'change': 'selectChange()'} }/
              %td
              - ['条码', '名称', '规格', '生产商', '单位', '当前库存', '售价'].each do |fieldName|
                %td
                  = bind @page_id, (@fields[fieldName] || 'error')

