.vip-user
  %img.vip-userpic.pull-left{:height => "50px", "ng-src":"../assets/images/{{vip.gestSex.dictDetailCode}}.png", :width => "50px"}/
  %span.vip-username.pull-left {{vip.gestName}}
  %span.vip-username.pull-left {{vip.gestCode}}
  %span.vip-username.success.pull-left {{vip.gestStyle.levelName}}

  %span.vip-username.info.pull-left 账户金额: {{vip.prepayMoney | currency:"￥"}}

