---
layout: false
---
!!!5
%html{"ng-app" => "fiona", lang: 'en'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Fiona 福莱动物医院
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/

    :css
      html {
        font-family: sans-serif;
        -webkit-text-size-adjust: 100%;
          -ms-text-size-adjust: 100%;
      }
      h1 {
        margin: .67em 0;
        font-size: 2em;
      }
      mark {
        color: #000;
        background: #ff0;
      }
      small {
        font-size: 80%;
      }
      table {
        border-spacing: 0;
        border-collapse: collapse;
      }
      td,
      th {
        padding: 0;
      }

      html {
        font-size: 12px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        margin: 0;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
      }
      h1{
        /*font-family: inherit;*/

        letter-spacing: 16px;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
      }
      h1 small{
        font-weight: normal;
        line-height: 1;
        color: #777;
      }
      h1{
        margin-top: 20px;
        margin-bottom: 10px;
      }
      h1 small, .h1 small{
        font-size: 65%;
      }
      p {
        margin: 0 0 10px;
      }
      .text-left {
        text-align: left;
      }
      .text-right {
        text-align: right;
      }
      .text-center {
        text-align: center;
      }
      table {
        background-color: transparent;
      }

      th {
        text-align: left;
      }

      .table {
        font-size: 12px;
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
      }

      .table  td {
        padding: 6px 3px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
      }

      .table-bordered {
        border: 0px solid #000;
      }

      .table-bordered td {
        border: 1px solid #666;
      }

      label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
      }

      .page-header {
        padding-bottom: 9px;
        margin: 40px 0 20px;
        border-bottom: 1px solid #eee;
      }

      /*# sourceMappingURL=bootstrap.css.map */

      .table-print-noborder {
      	  font-size: 12px;
          width: 100%;
          max-width: 100%;
          margin-bottom: 20px;
          border-spacing: 0;
          border-collapse: collapse;
      }

      .table-print-noborder td, .table-print-noborder th {
        padding: 8px 3px;
        border: 0px none transparent;
        background-color: #fff !important;
      }

      td.bottomline-dotted, th.bottomline-dotted {
        border-bottom: 1px dotted #333333;
      }

      td.topline-dotted, th.topline-dotted {
        border-top: 1px dotted #333333;
      }

      table.topline-dotted
      {
        border-top: 1px dotted #333333;
      }

      table.bottomline-dotted
      {
        border-bottom: 1px dotted #333333;
      }

    / END GLOBAL MANDATORY STYLES
    = yield_content :head

  %body.page-header-fixed.page-sidebar-closed-hide-logo.page-content-white.page-sidebar-fixed

    #printBody

    / Footer
    = partial 'layouts/partials/footer'

    / Google Analytics
    = partial 'layouts/partials/trackers'


