---
layout: false
---
!!!5
%html{"ng-app" => "fiona", lang: 'en'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Fiona 福莱动物医院
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/

    %link{:href => "/assets/plugins/bootstrap/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/stylesheets/print.css", :rel => "stylesheet", :type => "text/css"}/

    / END GLOBAL MANDATORY STYLES
    = yield_content :head

    :css
      body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
      }


  %body.page-header-fixed.page-sidebar-closed-hide-logo.page-content-white.page-sidebar-fixed
    .page-container
      .page-content-wrapper
        .page-content#pageContent
          #printBody

    / Footer
    = partial 'layouts/partials/footer'

    / Google Analytics
    = partial 'layouts/partials/trackers'
