---
layout: false
---
!!!5
%html{"ng-app" => "fiona", lang: 'en'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Fiona 福莱动物医院
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/

    %link{:href => "/assets/plugins/bootstrap/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/stylesheets/print.css", :rel => "stylesheet", :type => "text/css"}/

    %link{:href => "http://localhost:8000/c_c2.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "http://localhost:8000/CLodopfuncs.js", :type => "text/javascript"}

    / END GLOBAL MANDATORY STYLES
    = yield_content :head

    :javascript
      function demoPrint(){

        var strHTML = document.getElementById('printContent').contentWindow.document.getElementsByTagName("html")[0].innerHTML;;

         console.log(strHTML);

        // var strHTML=document.getElementById("pageContent").innerHTML;

        LODOP.PRINT_INITA(10,20,810,610,"打印小票");

        LODOP.SET_PRINTER_INDEXA('EPSON L300 Series');

        // EPSON L300 Series

        LODOP.SET_PRINT_PAGESIZE(0,0,0,0);

        LODOP.ADD_PRINT_HTM(20,10,"90%","95%",strHTML);

        LODOP.PRINT();
      };

  %body.page-header-fixed.page-sidebar-closed-hide-logo.page-content-white.page-sidebar-fixed
    .page-container
      .page-content-wrapper
        .page-content#pageContent
          -##printBody
          %iframe#printContent.hide{:frameborder => '0', :src => "/views/commons/print_content.html", :style => "width:0px;height:0px"}

    / Footer
    = partial 'layouts/partials/footer'

    / Google Analytics
    = partial 'layouts/partials/trackers'
