
.login-block
  .block.block-transparent
    .row
      .col-md-12

    .content.controls.npt
      .form-row
        .col-md-12.text-center
          %img{:src => "assets/images/login_logo.png", :width => '200px'}/

      .form-row
        .col-md-12
          .input-group
            .input-group-addon
              %span.icon-user
            %input.form-control{:placeholder => "帐号", :type => "text"}/
      .form-row
        .col-md-12
          .input-group
            .input-group-addon
              %span.icon-key
            %input.form-control{:placeholder => "密码", :type => "password"}/
      .form-row
        .col-md-6
          %a.btn.btn-default.btn-block.btn-clean{:href => "#"} 登录

        .col-md-6
          %a.btn.btn-default.btn-block.btn-clean{:href => "#"} 关闭

      .form-row
        .col-md-12
          %a.btn.btn-link.btn-block{:href => "#"} 忘记密码?