
.form-body
  .row
    .col-md-4
      = partial :'layouts/inputs/text', :locals => {:fieldName => '会员编号', :maxlength => '32', :required => 'true'}

    .col-md-4
      = partial :'layouts/inputs/text', :locals => {:fieldName => '会员姓名', :maxlength => '32'}
